*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#nav1{
   padding-left: 2%;
}
html{
    scroll-behavior: smooth;
}
#navlogo h1{
    color: black;
    text-align: left;
    font-size: 28px;
}




nav{
    width: 100%;
    background-color:white;
    text-align: right;
    border:none;
    border-radius:6px;
    display: grid;
    grid-template-columns:20% 80%;
    padding:2%;

   
}

nav a{
    color:black;
    font-size: 17px;
    text-decoration: none;
 margin:0% 4%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
   
    

}
nav a:hover{
    color: orangered;
    border-bottom:2px solid orangered 
   
}

#home_main_div{
    width: 100%;
    height:400px;
    padding:0% 10%;
 display: grid;
 align-items: center;
 overflow: hidden;
    grid-template-columns: 60% 40%;
    background-color: rgb(240, 238, 235);

   
}



   

@keyframes animation{
    form{
        transform: translateX(-1600px);

    }
    to{

 transform: translateX(0px);
    }
}



#home_div h1{
  

    font-size: 52px;
    font-family:Arial, Helvetica, sans-serif ;
    color:black;

   
   
}

#home_div p{
   
    font-size: 17px;

    color:black;

}

#home_div button{
    width: 200px;
    height: 34px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    color:white;
    border-radius: 6px;
    margin: 2% 0%;
    padding: 8px;
    cursor: pointer;
    background-color:rgb(4, 4, 26) ;
    transition: all 0.8s ease;
}
#home_div button:hover{
    background-color:orangered;    
    }


#home_div img{
    width: 100%;
 
 
   
  
}


#home_div_personal{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
}

#personal_div{
   display:grid;
   justify-items: center;
   
padding:5%
   
}
#personal_divdetails{
padding:7%;
}
#personal_div img{

border-radius: 20px;
width:100%;

}


    

#personal_divdetails h1{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(121, 119, 119);
    padding: 1px;
    margin:2% 0%;
}

#personal_divdetails h2{
    font-size: 37px;
    color:rgb(2, 100, 156);
    padding: 3px;
    margin:2% 0%;
}
#personal_divdetails h2 span{
    color:orangered;
    animation:personal_div_h2_span 2s infinite;
}
@keyframes personal_div_h2_span{
    form{
       
        opacity: 0;
      }
      to{
         
          color:rgb(18, 243, 243);
          opacity: 1;
      }
    }




#personal_divdetails p{
    font-size: 17px;
    color:rgb(117, 116, 116);
    padding: 6px;
    margin:2% 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#personal_divdetails button{
    width: 200px;
    height: 34px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    color:white;
    border-radius: 6px;
    margin:2% 0%;
    padding:5px;
    cursor: pointer;
    background-color:rgb(4, 4, 26) ;
    transition: all 0.8s ease;
}

#personal_divdetails button:hover{
    background-color: orangered;
}

#home_counter_div{
    width: 100%;


    padding: 2% 4%;
    background:linear-gradient(to right,rgb(4, 4, 26),rgb(0, 39, 112));
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;

}

#counter_div{
   width:100%;

   padding: 4% 0%;
text-align: center;
}


#counter_div h1{
    color:white;
    font-size: 30px;
    margin-top: 15%;
   
}
#counter_div p{
    color:white;
    font-size:16px;
    padding:2px;
}

#start_div{
    background-color: rgb(216, 210, 198);
    padding:3%;
   
    text-align: center;
  
}

#start_div p{
    font-size: 16px;
    color:black;
    padding:5px;
}

#about_main_div{
    width: 100%;
    padding:5%;
    background-color: rgb(216, 210, 198);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    border-radius: 0px 6px;

}

#about_div{
    padding:6%;
width:60%;
    height: 320px;
    text-align: center;
    background-color: white;
    border-radius: 6px;
transition: all 0.6s ease;
    cursor: pointer;
}
#about_div:hover{
margin-top: -1%;
box-shadow: 2px 2px 10px gray;
}


#about_div h1{
    margin-top: 5px;
    padding: 2px;
    color:black;
}

#about_div h2{
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    padding: 2px;
}

#about_div p{
    font-size: 17px;
    color:black;
    padding: 2px;
}

#about_div button{
    width: 180px;
    height: 32px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    color:white;
    border-radius: 6px;
    margin-top: 13%;
    padding:6px;
    cursor: pointer;
    background-color:rgb(4, 4, 26) ;
}

#about_div button:hover{
    background-color: orangered;
}
#profile_main_div_h1{
text-align: center;
padding-top:5%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:gray;
}
#profile_main_div{
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    padding:8% 0%;
}


#profile_div{
    padding:4%;
    width: 250px;
    height: 345px;
    border-radius: 6px;
    text-align: center;
    transform: translateY(0px);
    box-shadow: 2px 2px 20px rgb(187, 186, 186);
    transition: all 0.4s ease;
    cursor: pointer;
    margin-top: 2%;
   
}

#profile_div:hover{
 
    transform: translateY(-7px);
}



#profile_div h1{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    padding:2px;
}

#profile_div h2{
    font-size: 19px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    padding:3px;
}

#profile_div p{
    font-size: 16px;
    color:black;
    padding:4px;
}

#profile_div img{
    width: 114px;
    height: 125px;
    border-radius: 60%;
    margin-top: 2%;
    margin-right: 6%;
    border:5px solid  rgb(216, 210, 198);
    animation:profile_div_img 2s ease;
   
}
@keyframes profile_div_img{
    form{
    transform:rotateys(90deg);
    
    }
    to{
    transform:rotatey(180deg);
    
    }
    }
    



#profile_div button{
    width: 180px;
    height: 32px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    color:white;
    border-radius: 6px;
    margin-top: 11%;
    padding:6px;
    cursor: pointer;
    background-color:rgb(4, 4, 26) ;
}

#profile_div button:hover{
    background-color: orangered;
}

#write_div{
    width: 100%;
    background-color: rgb(216, 210, 198);
    margin-top: 2%;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
}
#write_div p{
font-size: 16px;
color:black;
padding:10px;
}

#footer_main{
    width: 100%;
    border-radius: 6px;
    background-color: rgb(216, 210, 198);
    display: grid;
    grid-template-columns:70% 30%;
padding:7%;

}

#footer_div{
    padding:3% 5%;
    width: 90%;
    height: 320px;
    background-color: white;
    border-radius: 8px;
    border:none;
display: grid;
grid-template-columns: 60% 40%;
    cursor: pointer;
}
#footer_div img{
    width:100%;
}



#footer_div input{
    width:100%;
height:35px;
margin:1% 0%;
padding:3%;
border:none;
border-bottom: 1px solid rgb(148, 145, 145);

}
::placeholder{
    color:rgb(79, 89, 122);
    
}


#footer_div h1{
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    padding: 5px;
    margin-top: 3%;
}

#footer_div button{
    width: 180px;
    height: 32px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    color:white;
    border-radius: 6px;
margin:4% 0%;
    padding:6px;
    cursor: pointer;
    background-color:rgb(4, 4, 26) ;
}

#footer_div button:hover{
    background-color: orangered;
}


    #getintouch{
        display: grid;
        align-items: center;
        padding:5% 10%;
        width: 90%;
        height: 320px;
        background-color: white;
        border-radius: 8px;
        border:none;

        cursor: pointer;
    }
   
    #getintouch h1{
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    padding: 5px;
    margin-top: 3%;
}

#getintouch button{
    width: 180px;
    height: 32px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    color:white;
    border-radius: 6px;
margin:4% 0%;
    padding:6px;
    cursor: pointer;
    background-color:rgb(4, 4, 26) ;
}
    



#footer_last{
    width: 100%;
    background-color:rgb(4, 4, 26) ;
   
    text-align: center;

    padding:3%;
   
   
    
 

}


#footer_last img{
    width: 38px;
    height: 38px;
    border:none;
    border-radius:50%;
    padding:3px;
    margin-top: 1%; 
    border:1px solid white;
}
#footer_last p{
font-size: 17px;
color:white;
padding: 3px;
}
#footer_last p:hover{
  
    font-family: Georgia, 'Times New Roman', Times, serif;
}



@media(max-width:600px){
    nav a{
      color:white; 
     display: block;
     padding:2%;
  
    
    
    
    }
    #h1 h1{
        color:white;
        position: absolute;
        margin-top: 10%;
     
    }
    nav{
        box-shadow: 2px 2px 15px black;
        align-items: center;
     text-align: center;
     padding:4%;
        grid-template-columns: 100%;
        background-color:rgb(4, 4, 26) ; 
       

       
      
    }
    #animation{
    display: grid;
    grid-template-columns:100%;
    margin-left:15%;

   
    }

    #animation img{
        margin-left:13%;
    }

    #home_div_personal{
    display:grid;
    grid-template-columns: 100%;
    }

    #home_main_footer{
        background-color: rgb(1, 1, 14); ;
    }

    #about_main_div{
        display:grid;
    grid-template-columns: 100%;
    }


    #profile_main_div{
        display:grid;
        grid-template-columns: 100%;
     
      
    }

   


    #footer_main{
        display:grid;
        grid-template-columns: 100%;
       
       
       
    }
  
  



    


}
